#navbarName {
  font-size: 3rem;
}

nav {
  font-size: 2rem;
}

.custom-navbar {
  color: #33FF00 !important;
  background-color: black !important;
}

main {
  background-color: rgb(33, 37, 41);
}

section {
  padding: 1rem;
  padding-top: 7rem;

  /* sections take up full view */
  height: 100vh;
  width: 100vw;
}

body,
html {
  font-size: 100%;
  margin: 0;
  color: #33FF00;
}

a {
  text-decoration: none;
  color: inherit !important;
  border-radius: 0.5rem;
}

a:hover {
  background-color: rgb(33, 37, 41);
}

#home {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-inner {
  display: grid;
  justify-content: center;
}

.carousel-item{
  padding-top: 1rem;
  width: 60vw;
  height: 75vh;
  overflow: hidden;
}
.carousel-item img{
  height: 100%;
  object-fit: cover;
}